<nav class="sidebar-element container p-0">
    <div class="col p-0">
        <!-- nav-element-->
        <div class="nav-element row text-center w-100 p-0 m-0 border">
            <snap class="text-center w-100">
                Ongoing
            </snap>
        </div>
        <!-- End of nav-element -->

        <!-- nav-element-->
        <div class="nav-element row text-center w-100 p-0 m-0 border">
            <snap class="text-center w-100">
                Ongoing
            </snap>
        </div>
        <!-- End of nav-element -->
    </div>
</nav>