<div class="sidebar-element new-animes container mt-3 p-0 border">
    <div class="col">
        <div class="row border">
            <img class="anime-picture" src="../assets/png/AnimePicture.png">
            <h5>Anime name name namesd sdafsdafd sfaffsdaffsd</h5>
            <p class="series">1-8 series</p>
            <p class="season">1 season</p>
        </div>
        <div class="row border">
            <img class="anime-picture" src="../assets/png/AnimePicture.png">
            <h5>Anime name name namesd sdafsdafd sfaffsdaffsd</h5>
            <p class="series">1-8 series</p>
            <p class="season">1 season</p>
        </div>
        <div class="row border">
            <img class="anime-picture" src="../assets/png/AnimePicture.png">
            <h5>Anime name name namesd sdafsdafd sfaffsdaffsd</h5>
            <p class="series">1-8 series</p>
            <p class="season">1 season</p>
        </div>
    </div>
</div>