<!-- Comments -->
<div class="comments container p-0">
    <h2 class="row mx-5 mb-4 p-0">Comments: </h2>
    <div class="comment row mx-5 p-0">
        <div class="col-2 mt-3 ml-3 p-0">
            <img src="../assets/png/Avatar.png" alt="">
            <p class="m-0">Username</p>
            <p class="role">(Admin)</p>
        </div>
        <div class="col mr-3 mt-3 p-0">
            <p>
                Anime is Japanese animation that is aimed at teenagers and adults. It differs from children's cartoons in that it usually has a complex plot, many characters, and deep meaning. Anime can be both comedic and serious, and some genres combine both qualities.
                <br/><br/>
                Among the advantages of anime is its high visual appeal. The picture in anime is usually very colorful and detailed, and the characters look bright and memorable. In addition, anime often uses interesting artistic techniques such as different camera angles and unusual perspectives.
                <br/><br/>
                But the main advantage of anime is its plot. Unlike many cartoons where the story boils down to a simple set of events, anime can boast complex and intricate plots filled with symbolism and hidden meanings. In addition, anime often explores complex topics such as love, death, politics, and religion.
                <br/><br/>
                However, it should be noted that anime may not be suitable for everyone. Some people may find it too violent or explicit. In addition, many anime are aimed at a specific audience, and they may be incomprehensible or uninteresting to those who are not familiar with Japanese culture or certain genres.
                <br/><br/>
                Overall, anime is a unique art form that can impress with its beauty and depth. If you enjoy unusual and interesting stories, then anime can be a real discovery for you.
            </p>
        </div>
    </div>
    <div class="comment row mx-5 mt-3 p-0">
        <div class="col-2 mt-3 ml-3 p-0">
            <img src="../assets/png/Avatar.png" alt="">
            <p class="m-0">Username</p>
            <p class="role">(Admin)</p>
        </div>
        <div class="col mr-3 mt-3 p-0">
            <p>
                Anime is Japanese animation that is aimed at teenagers and adults. It differs from children's cartoons in that it usually has a complex plot, many characters, and deep meaning. Anime can be both comedic and serious, and some genres combine both qualities.
                <br/><br/>
                Among the advantages of anime is its high visual appeal. The picture in anime is usually very colorful and detailed, and the characters look bright and memorable. In addition, anime often uses interesting artistic techniques such as different camera angles and unusual perspectives.
                <br/><br/>
                But the main advantage of anime is its plot. Unlike many cartoons where the story boils down to a simple set of events, anime can boast complex and intricate plots filled with symbolism and hidden meanings. In addition, anime often explores complex topics such as love, death, politics, and religion.
                <br/><br/>
                However, it should be noted that anime may not be suitable for everyone. Some people may find it too violent or explicit. In addition, many anime are aimed at a specific audience, and they may be incomprehensible or uninteresting to those who are not familiar with Japanese culture or certain genres.
                <br/><br/>
                Overall, anime is a unique art form that can impress with its beauty and depth. If you enjoy unusual and interesting stories, then anime can be a real discovery for you.
            </p>
        </div>
    </div>
</div>
<!-- End of comments -->