nav {
    border: 1px solid #969696 !important;
    background-color: #FFFFFF;
}

.nav-element {
    height: 28px;
}

nav a {
    color: #000;
    text-decoration: none;
}
nav a:hover {
    color: #000;
    text-decoration: none;
}