header {
    height: 60px;
    background-color: #DEE1E9;
}

header p {
    text-align: end;
}

header #online-status {
    font-size: 14px;
}

header a h2, h3 {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}