.anime {
    display: flex;
    flex-wrap: wrap;
    background: #C6C0EB;
    border: 1px solid #969696 !important;
}

.anime h5 {
    word-break: break-all;
    inline-size: 180px;
    overflow: hidden;
    height: 72px;
}

.anime .break {
    height: 0;
    flex-basis: 100%;
}

.anime-genres {
    word-break: break-all;
    inline-size: 180px;
    overflow: hidden;
    height: 45px;
}

.anime-tags {
    word-break: break-all;
    inline-size: 180px;
    overflow: hidden;
    height: 45px;
}