.search {
    border: 1px solid #969696 !important;
    height: 40px;
}

.search-label {
    border-right: 1px solid #969696 !important;
    background-color: #DEE1E9;
}

.search-field {
    border-right: 1px solid #969696 !important;
}

.search-label span {
    font-size: 24px;
    display: inline;
    vertical-align: middle;
}

.search-button button {
    background-color: #DEE1E9;
}