<!-- Avatar choicer -->
<div class="avatar-choicer border">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col text-center border-right border-bottom active-tab" id="standard-tab">Standard</div>
            <div class="col text-center border-bottom" id="from-file-tab">From file</div>
        </div>
        <div class="row m-0 h-100">
            <!-- Standard choice -->
            <div class="container m-0 p-0" id="standard-choice">
                <div class="row m-0 p-0">
                    <img src="../assets/png/Avatars/Avatar 1.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 2.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 3.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 4.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 5.png" alt="" class="col p-0 m-0">
                </div>
                <div class="row m-0 p-0">
                    <img src="../assets/png/Avatars/Avatar 6.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 7.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 8.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 9.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 10.png" alt="" class="col p-0 m-0">
                </div>
                <div class="row m-0 p-0">
                    <img src="../assets/png/Avatars/Avatar 10.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 11.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 12.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 13.png" alt="" class="col p-0 m-0">
                    <img src="../assets/png/Avatars/Avatar 14.png" alt="" class="col p-0 m-0">
                </div>
            </div>
            <!-- End of standard choice -->

            <!-- From file choice -->
            <div class="container m-0 p-0" id="from-file-choice">
                <div class="row m-0 mx-3 p-0 mt-3">
                    <label class="m-0" for="choice-button">Choice file: </label>
                    <button class="p-0 m-0 ml-4 w-50" id="choice-button">Choice</button>
                </div>
                <p class="row m-0 mx-3 mt-1 p-0" id="avatar-using-permission">You may use this avatar</p>
                <p class="row m-0 mx-3 mt-5 p-0">Your file must be ...</p>
            </div>
            <!-- End of from file choice -->
        </div>
    </div>
</div>
<!-- End of avatar choicer -->