<!-- Start of header -->
<header class="container-fluid m-0 w-100 p-0 border">
    <div class="row m-0 p-0 h-100" id="logo">
        <a href="index.html" class="col-2 p-2 m-0 border-right">
            <h2 class="text-center">Logo</h2>
        </a>            

        <div class="col border-right" id="free-col"></div>

        <div class="col-2 p-1 m-0 border-right">
            <a href="login.html">
                <h3 class="m-0 p-2 text-center">Login</h3>
            </a>
        </div>

        <div class="col-2 p-1 m-0">
            <a href="registration.html">
                <h3 class="m-0 p-2 text-center">Registration</h3>
            </a>
        </div>
    </div>
</header>
<!-- End of header -->