<header class="container-fluid m-0 w-100 p-0 border-dark">
    <div class="row m-0 p-0 h-100">
        <div class="logo col-2 h-100 p-0 m-0 border text-center align-middlejustify-content-start">
            <span class="pt-1">
                Logo
            </span>
        </div>
        <div class="col"></div>
        <div class="login col-2 h-100 p-1 m-0 border text-center">
            <span class="pt-4">
                Login
            </span>
        </div>
        <div class="registration col-2 h-100 p-1 m-0 border text-center">
            <span class="pt-4">
                Registration
            </span>
        </div>
    </div>
</header>