<!-- Player -->
<div class="player container p-0 m-5 border">
    <div class="row m-0 p-0 border" id="series-selector">
        <select name="season" id="season-select">
            <option value="none">&lt;Select season&gt;</option>
        </select> 
        <select name="series" id="series-select">
            <option value="none">&lt;Select series&gt;</option>
        </select>
        <select name="player" id="player-select">
            <option value="none">&lt;Select player&gt;</option>
        </select>
        <select name="translate" id="translate-select">
            <option value="none">&lt;Select translate&gt;</option>
        </select>
    </div>
    <div class="series-free-space row m-0 p-0 border"></div>
</div>
<!-- End of player-->