<form class="search container mt-5 p-0" method="post">
    <div class="row m-0">
        <div class="search-label col-2 text-center">
            <span>
                Search:
            </span>
        </div>
        <div class="search-field col p-0 m-0">
            <input class="w-100 h-100" name="searchRequest" autocomplete="off">

            </input>
        </div>
        <div class="search-button col-2 p-0 m-0">
            <button class="w-100 h-100" onclick="submit">Search</button>
        </div>

    </div>
</form>