@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Extended search */
.extended_search_block {
    background-color: #FFFFFF;
    border: 1px solid #969696 !important;
}

.extended_search_block select {
    width: 9vw;
    background-color: #D7C1FA;
    border: 1px solid #969696 !important;
}

.extended_search_block button {
    width: 9vw;
}

.extended_search_block label {
    text-align: end;
    vertical-align: middle;
}

.tag-selector {
    visibility: hidden;
    width: 35vw;
    height: 80vh;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #969696 !important;
    z-index: 1100;
    margin-top: -28px;
}

/* Tag selector */
.tag-selector .white {
    background-color: #FFFFFF;
}

.tag-selector .green {
    background-color: #D7C1FA;
}

.tag-selector .red {
    background-color: #fac1c1;
}

.tag-selector .tag {
    display: flex;
}

.radio-button {
    border: 1px solid #969696 !important;
    border-radius: 45px;
    width: 20px;
    height: 20px;
    white-space: nowrap;
}

/* End of tag-selector */

#search-button {
    margin: auto;
    width: 9vw;
    height: 28px;
}

/* Main */
.main {
    background-color: #FFFFFF;
}

.anime {
    display: flex;
    flex-wrap: wrap;
    background: #C6C0EB;
    border: 1px solid #969696 !important;
}

.anime h5 {
    word-break: break-all;
    inline-size: 180px;
    overflow: hidden;
    height: 72px;
}

.anime .break {
    height: 0;
    flex-basis: 100%;
}

.anime-genres {
    word-break: break-all;
    inline-size: 180px;
    overflow: hidden;
    height: 45px;
}

.anime-tags {
    word-break: break-all;
    inline-size: 180px;
    overflow: hidden;
    height: 45px;
}
/* End of main */