@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

header {
    border: 2px solid #000 !important;
    height: 80px;
}


.logo span {
    font-size: 36px;
    display: inline;
    vertical-align: middle;
}