<nav class="sidebar-block container p-0 border">
    <!-- nav-element-->
    <a href="search.html">
        <div class="row p-0 m-0 border-bottom">
            <h5 class="text-center mt-1 w-100">Ongoing</h4>
        </div>
    </a>
    <!-- End of nav-element -->

    <!-- nav-element-->
    <a href="search.html">
        <div class="row p-0 m-0 border-bottom">
            <h5 class="text-center mt-1 w-100">Ongoing</h4>
        </div>
    </a>
    <!-- End of nav-element -->

    <!-- nav-element-->
    <a href="search.html">
        <div class="row p-0 m-0 border-bottom">
            <h5 class="text-center mt-1 w-100">Ongoing</h4>
        </div>
    </a>
    <!-- End of nav-element -->

    <!-- nav-element-->
    <a href="search.html">
        <div class="row p-0 m-0 border-bottom">
            <h5 class="text-center mt-1 w-100">Ongoing</h4>
        </div>
    </a>
    <!-- End of nav-element -->

    <!-- nav-element-->
    <a href="search.html">
        <div class="row p-0 m-0 border-bottom">
            <h5 class="text-center mt-1 w-100">Ongoing</h4>
        </div>
    </a>
    <!-- End of nav-element -->
</nav>