<!-- New animes -->
<div class="sidebar-block container mt-3 p-0 border" id="new-animes">
    <div class="row m-0 border-bottom">
        <img class="m-2" src="../assets/png/AnimePicture.png">
        <h5>Anime name name namesd sdafsdafd sfaffsdaffsd</h5>
        <p class="series">1-8 series</p>
        <p class="season">1 season</p>
    </div>

    <div class="row m-0 border-bottom">
        <img class="m-2" src="../assets/png/AnimePicture.png">
        <h5>Anime name name namesd sdafsdafd sfaffsdaffsd</h5>
        <p class="series">1-8 series</p>
        <p class="season">1 season</p>
    </div>

    <div class="row m-0 border-bottom">
        <img class="m-2" src="../assets/png/AnimePicture.png">
        <h5>Anime name name namesd sdafsdafd sfaffsdaffsd</h5>
        <p class="series">1-124 series</p>
        <p class="season">1 season</p>
    </div>
</div>
<!-- End of new animes-->